<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>FGG</title>
  <link rel="icon" type="image/x-icon" href="{% static 'animals/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css2?family=Rosario&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <style>
      .brand-font {
          font-family: 'Rosario', sans-serif;
      }
      .brand-nolink {
    text-decoration: none;    
    color: inherit;          
      }
      .brand-nolink:hover {
          text-decoration: none;    
          color: inherit;
      }
      html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
            
        }
        main {
            flex: 1;
        }
  </style>
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-lg bg-primary-subtle py-5" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand brand-font fs-3" href="/">Family Guessing Game</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5 mx-5">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Lists</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'animal_list' %}">Animals</a>
              <li>
              <li>
                <a class="dropdown-item" href="{% url 'country_list' %}">Countries</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Games</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{% url 'guess_animal' %}">Animals</a>
              <li>
              <li>
                <a class="dropdown-item" href="{% url 'guess_country' %}">Countries</a>
              </li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'admin:index' %}">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main id="content" class="container-fluid">
    <div class="container my-4">
      {% block content %}
      {% endblock content %}
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK"
    crossorigin="anonymous"></script>
</body>
</html>